---
---

@import "minima";

/* ширина страницы */
.wrapper {
  max-width: 900px;
}

/* картинки */
.post-content img {
  width: 100%;
  max-width: 900px;
  height: auto;
  display: block;
  margin: 20px auto;
}
